<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-zinc-100  ">
    <div class=" bg-zinc-300 mx-110 mt-40 h-100 w-80 rounded-md border-2 border-zinc-400"> 
        <p class="p-2 text-zinc-500"> welcome</p>
        <form action="/create" method="post">
            <input class="bg-zinc-400 text-white border-zinc-800 m-3 p-2 rounded-md" type="text" placeholder="Enter your username" name="username" required>
            <input class="bg-zinc-400 text-white border-zinc-800 m-3 p-2 rounded-md" type="text" placeholder="Enter your email" name="email" required>
            <input class="bg-zinc-400 text-white border-zinc-800 m-3 p-2 rounded-md" type="text" placeholder="Enter your password" name="password" required>
            <input class="bg-zinc-400 text-white border-zinc-800 m-3 p-2 rounded-md" type="submit" value="Sign up">
        </form>
        <p class="text-zinc-400 p-2">Already have a account?</p>
        <a class="text-zinc-500 p-2" href="">Login</a>
    </div>
</body>
</html> 